*{
    font-family: 'Poppins';
}

@media (max-width: 600px) {

    #searchBox{
        width: 60%;
    }
}

@media(max-width: 530px){

      #searching{
        flex-direction: column;
        gap: 15px;
    }

    #searchBox{
        width: 100%;
    }

    #createBtn{
        padding: 10px 10px 10px 5px;
    }
}

@import "tailwindcss"


